
# BEGIN INDEX
# Директиви (рядки) між `BEGIN INDEX` і `END INDEX`
# створені автоматично і підлягають змінам тільки через фільтри WordPress.
# Зміни зроблені вручну між цими маркерами будуть перезаписані.
Options -Indexes
# END INDEX